.settingsMenu {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  box-sizing: border-box;
  position: absolute;
  width: max-content;
  height: max-content;
  right: 2rem;
  top: 6.5rem;
  background: #ffffff;
  padding: 1rem;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  z-index: 999;
  box-shadow: 0px 3px 5px 1px grey;
}
.settingsMenu > .list-items {
  list-style-type: none;
}
.settingsMenu > .list-items .item {
  margin-bottom: 1rem;
}
.settingsMenu > .list-items .item .text {
  margin-left: 0.5rem;
}

* mouse over link */ a:hover {
  color: #796d6d;
}

/* selected link */
a:active {
  color: #21334f;
}
